body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #080808;
}


header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center; /* Center align text within the header */
}

.logo {
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 15px; /* Adjust as needed */
  width: 100px; /* Adjust the width of your logo */
  height: auto; /* Maintain aspect ratio */
}

.header-top, .header-bottom {
  display: flex;
  justify-content: center; /* Center align horizontally */
  align-items: center;
}

.header-top {
  margin-bottom: 10px; /* Adjust spacing between header sections */
}

.header-top .header-title {
  font-size: 30px;
  margin: 0;
}

nav {
  text-align: right; /* Align navigation links to the right */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block; /* Display navigation items in a row */
  margin-left: 20px; /* Adjust spacing between navigation items */
}

.back {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.back:hover {
  text-decoration: underline;
}

.back-btn {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.back-btn:hover {
  text-decoration: underline;
}

.main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.Achievements-details p {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}

.Achievements-content {
  flex: 1 1 60%;
}


/* ---------------h2--------------- */

.Achievements-details h2 {
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}


.Achievements-overview h2 {
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.Achievements-details h2{
  max-width: 1200px;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  justify-content: left;
  align-items: left;
}

.Achievements-overview h2{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  justify-content: left;
  align-items: left;
}

.Achievements-content {
  flex: 1 1 60%;
}

.project-image {
  flex: 1 1 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Added to wrap images */
  gap: 20px; /* Added to control spacing */
}

.project-image img {
  max-width: 100%;
  height: auto;
  border: 2px;
  border-radius: 10px;
}

/* ---------------h3--------------- */
.Achievements-details h3 {
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.Achievements-overview h3 {
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}


/* ---------------h4--------------- */
.Achievements-details h4 {
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}


.Achievements-overview h4 {
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}


.Achievements-overview h4 p {
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}



.Achievements-details ul {
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}


.Achievements-details ul li {
  list-style-type: disc;
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.thanks-note {
  text-align: center;
  padding: 20px;
  background-color: #262626;
  color: #fff;
  margin-top: 50px;
  border-radius: 10px;
}

.thanks-note p {
  font-size: 13px;
  margin: 0;
}


